<div class="bg-white p-8">
  <div class="">
    <div>
      <h1 class="text-base font-semibold leading-7 text-gray-900">Update Password</h1>
      <p class="mt-1 text-sm text-gray-600">Fill up the form to change your the password</p>


      <form #passwordForm="ngForm" (submit)="updatePass(passwordForm)" class="my-2">
        <div class="flex flex-col space-y-5 w-2/4">

          <p class="alert p-2 mb-0" [ngClass]="{'alert-danger': Alert, 'alert-success': !Alert}" *ngIf="Updated">{{Result}}</p>

          <div>
            <input type="text" ngModel name="currentPass" placeholder="Current Password"
              class="form-control text-sm border-gray-300 shadow-xs" />
          </div>

          <div>
            <input type="text" ngModel name="newPassword" placeholder="New Password"
              class="form-control text-sm border-gray-300 shadow-xs" />
          </div>

          <div>
            <button type="submit"
              class="w-full bg-blue-500 text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
              Update
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
