<div class="fixed">
  <p class="pl-4 pt-2">
    <img src="../../../assets/images/logo.png" alt="" width="35%">
  </p>
</div>

<div class="flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-xl shadow shadow-slate-300 w-2/6">
    <h1 class="text-4xl font-medium">Reset password</h1>
    <p class="text-slate-500">Enter your new password</p>

    <form action="" class="my-2">
      <div class="flex flex-col space-y-5">

        <label for="email">
          <input id="email" name="email" type="email"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="New Password">
        </label>

        <label for="email">
          <input id="email" name="email" type="email"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Confirm Password">
        </label>

        <button
          class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
          <span>Reset Password</span>
        </button>

      </div>
    </form>
  </div>
</div>
