<section class="container w-screen">



  <div class=" mx-auto w-2/4">
    <p class="mb-2 text-lg">Post your new Project</p>
    <hr class="mb-4">

    <ng-container *ngIf="showErrorMessage">
      <div class="alert alert-danger form-control">
        Please Fill all the fields
      </div>
    </ng-container>

    <ng-container *ngIf="isJobPosted">
      <div class="alert"
        [ngClass]="{'alert-success': postJobMessage === 'New Job has been Posted', 'alert-danger': postJobMessage === 'Failed to add a new Job'}">
        {{ postJobMessage }}
      </div>
    </ng-container>


    <form #AddJobForm="ngForm" (ngSubmit)="AddJob(AddJobForm)">
      <div class="flex flex-col space-y-5">

        <div>
          <select ngModel name="jobStatus" class="form-select w-1/4 p-2">
            <option value="">Choose Job Status</option>
            <option value="{{ jobStatus.JOB_STATUS_ID }}" *ngFor="let jobStatus of JobStatusTypes">{{ jobStatus.NAME }}</option>
          </select>
        </div>

        <div>
          <input type="text" ngModel name="JobTitle" placeholder="Job Title" class="form-control p-2 border-gray-300 rounded"/>
        </div>

        <div>
          <textarea ngModel name="JobDescription" id="" cols="30" rows="10" placeholder="Job Description" class="form-control p-2"></textarea>
        </div>

        <div>
          <select ngModel name="JobStatusClass" class="form-select w-1/4 p-2">
            <option value="">Job Type</option>
            <option value="{{ class.CLASS_ID }}" *ngFor="let class of JobClasses">{{ class.NAME }}</option>
          </select>
        </div>

        <div class="ml-auto">
          <button type="submit"
            class="bg-blue-500 text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
            Add Job
          </button>
        </div>

      </div>

    </form>
  </div>


</section>
