<section class="">
<hr>
<p class="text-lg px-4 my-3">Dashboard</p>
<hr>

<div class="px-4">

  <!-- Stats -->
  <div class="grid grid-cols-4 gap-10 my-3">

    <div class="p-10 rounded shadow bg-gray-100 hover:shadow-lg hover:scale-105 hover:bg-gray-700 hover:text-white transition duration-500">
      <p>Active Jobs</p>
      <hr class="my-2">
      <p class="text-6xl">10</p>
    </div>

    <div class="p-10 rounded shadow bg-gray-100 hover:shadow-lg hover:scale-105 hover:bg-gray-700 hover:text-white transition duration-500">
      <p>Active Providers Working</p>
      <hr class="my-2">
      <p class="text-6xl">15</p>
    </div>
    <div class="p-10 rounded shadow bg-gray-100 hover:shadow-lg hover:scale-105 hover:bg-gray-700 hover:text-white transition duration-500">
      <p>Job Offers Sent</p>
      <hr class="my-2">
      <p class="text-6xl">23</p>
    </div>
    <div class="p-10 rounded shadow bg-gray-100 hover:shadow-lg hover:scale-105 hover:bg-gray-700 hover:text-white transition duration-500">
      <p>Job Offers Received</p>
      <hr class="my-2">
      <p class="text-6xl">100</p>
    </div>
  </div>

  <!-- List of Jobs And Providers -->
  <div class="grid grid-cols-4 gap-10">
    <div class="col-span-3 p-10 rounded shadow">
      <p>Active Jobs</p>
      <hr class="my-2">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Project Name
              </th>
              <th scope="col" class="px-6 py-3">
                Description
              </th>
              <th scope="col" class="px-6 py-3 text-right">
                Details
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b ">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                Job Name 1
              </th>
              <td class="px-6 py-4 text-gray-900 ">
                description 1
              </td>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Details</a>
              </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                Job Name 2
              </th>
              <td class="px-6 py-4 text-gray-900 ">
                description 2
              </td>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Details</a>
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                Job Name 3
              </th>
              <td class="px-6 py-4 text-gray-900 ">
                description 3
              </td>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Details</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="p-10 rounded shadow">
      <p>Active Providers</p>
      <hr class="my-2">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Provider Name
              </th>
              <th scope="col" class="px-6 py-3 text-right">
                View Profile
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                Service Provider 1
              </th>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                Service Provider 2
              </th>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                Service Provider 3
              </th>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>

</section>
