form {
  .heading {
    margin-bottom: 10px;
    font-size: 22px;
  }

  p {
    color: rgb(123, 123, 123);
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    a {
      color: rgb(49, 132, 247);
      text-decoration: none;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .login-link{
    margin-top: 15px;
    text-align: center;
  }

  .registerBtn {
    width: 100%;
    font-size: 18px;
    padding: 25px;
  }
}
