

<section class="bg-slate-300 py-5 px-4 bottom pb-3" style="border-top-right-radius: 30px; border-top-left-radius: 30px;">
  <div class="grid grid-cols-4 pb-10">
    <div>
      <img src="../../../assets/images/welltimeLogo-removebg-preview.png" alt="" width="300px">
      <div class="flex mt-3">
        <img src="../../../assets/svg/envelope.svg" alt="" style="height: 20px; width: 20px;">
        <p class="">&nbsp;&nbsp;&nbsp;Support@welltime.co.uk</p>
      </div>

      <div class="flex mt-2">
        <img src="../../../assets/svg/phone.svg" alt=""  style="height: 20px; width: 20px;">
        <p class="">&nbsp;&nbsp;&nbsp;0207 0961440</p>
      </div>

    </div>
    <div>
      <h4 class="" style="font-weight: bold;">Responses</h4>
      <ol>
        <li class="mt-3">How it works</li>
        <li class="mt-3">Guarantee</li>
        <li class="mt-3">Security</li>
        <li class="mt-3">Pricing</li>
      </ol>
    </div>
    <div>
      <h4 class="" style="font-weight: bold;">About</h4>
      <ol>
        <li class="mt-3">Policy</li>
        <li class="mt-3">Jobs</li>
        <li class="mt-3">Testimonials</li>
        <!-- <li class="mt-3"></li> -->
      </ol>
    </div>
    <div>
      <h4 class="" style="font-weight: bold;">Follow us on</h4>
      <ol class="inline-flex gap-3">
        <li>
          <img src="../../../assets/svg/facebook.svg" alt="" width="30px">
        </li>
        <li>
          <img src="../../../assets/svg/twitter.svg" alt="" width="30px">
        </li>
        <li>
          <img src="../../../assets/svg/instagram.svg" alt="" width="30px">
        </li>
        <li>
          <img src="../../../assets/svg/linkedin.svg" alt="" width="30px">
        </li>
        <li>
          <img src="../../../assets/svg/whatsapp.svg" alt="" width="30px">
        </li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="text-center pt-3 pb-0 mb-0">
    <p class="pb-0 mb-0">Privacy Policy</p>
  </div>
</section>
