<section class="pb-10">
  <!-- Page Header -->
  <div class="px-5 bg-slate-300">
    <h1 class="p-2 font-bold">Logs</h1>
  </div>
  <!-- Filters -->
  <div class="px-5 mb-3">
    <form #WorkDiaryLogsForm="ngForm" (ngSubmit)="search(WorkDiaryLogsForm)" class="flex flex-row space-x-5">

      <label for="Jobs">
        <select [(ngModel)]="selectedJobId" (ngModelChange)="onJobChange($event)" id="jobId" name="jobId"
          class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
          <option value=null selected>Choose a Job</option>
          <option value="{{job.JOB_ID}}" *ngFor="let job of Jobs;">{{ job.JOB_TITLE }}</option>
        </select>
      </label>

      <label for="Providers">
        <select ngModel id="ProvId" name="ProvId"
          class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
          <option value="" selected disabled>Choose a Provider</option>
          <option value="{{prov.USER_ID}}" *ngFor="let prov of Providers;">{{ prov.FULL_NAME }}</option>
        </select>
      </label>

      <label for="Duration">
        <select name="duration" [(ngModel)]="defaultDuration"
          class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
          <option value="1" selected>Today</option>
          <option value="-1">Yesterday</option>
          <option value="-7">Last Week</option>
          <option value="-30">Last Month</option>
        </select>
      </label>

      <label for="button">
        <button type="submit" class="bg-green-600 text-white py-3 px-4 border rounded-lg">
          Search
        </button>
      </label>

    </form>
  </div>

  <!-- Logged Details -->
  <div class="px-5">
    <div class="grid grid-cols-4 gap-3 mb-3">
      <div class="bg-light flex items-center p-4 rounded-lg border border-gray-600 shadow-sm">
        <div>
          <h4 class="">Total time spent</h4>
          <p class="text-3xl">{{ this.TotalTime }}</p>
        </div>
      </div>
      <div class="bg-light flex items-center  p-4 rounded-lg border border-gray-600 shadow-sm">
        <div>
          <h4 class="">Total Logs</h4>
          <p><b>Key strokes:</b> {{ this.TotalLogs.Total_Key_Strokes }}</p>
          <p><b>Screenshots:</b> {{ this.TotalLogs.image_count }}</p>
          <p><b>Mouse Clicks:</b> {{ this.TotalLogs.Total_Mouse_Clicks }}</p>
          <p><b>Windows Switched:</b> {{ this.TotalLogs.Total_Windows_Switched }}</p>
        </div>
      </div>
      <!-- <div class="bg-light flex items-center p-4 rounded-lg border border-gray-600 shadow-sm">
        <div>
          <h4 class="">Average time per day</h4>
          <p class="text-3xl">2 Hours 10 mins</p>
        </div>
      </div>
      <div class="bg-light flex items-center p-4 rounded-lg border border-gray-600 shadow-sm">
        <div>
          <h4 class="">Average Logs per day</h4>
          <p><b>Key strokes:</b> 13450</p>
          <p><b>Screenshots:</b> 14</p>
          <p><b>Mouse Clicks:</b> 2000</p>
          <p><b>Windows Switched:</b> 20</p>
        </div>
      </div> -->
    </div>
  </div>

  <!-- Logs -->
  <p class="mt-3 px-5"><b>Details: </b>{{ StartDate }} <b>to</b> {{ EndDate }}</p>

  <!-- Screen Logs -->
  <ng-container *ngIf="TotalScreenLogsFound">
    <div class="grid grid-cols-4 gap-2 px-5">
      <div *ngFor="let screenlogs of TotalScreenLogs" class="m-0 p-0 pb-2 border-b-2">
        <p class="font-bold py-0 my-0">{{ screenlogs.CLASS_DESCRIPTION }}</p>
        <p class="font-bold py-0 my-0 text-blue-500">{{ screenlogs.TIME_SPENT }}</p>
        <p class="font-bold py-0 my-0 text-red-500">49.25%</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="LogsFound">
    <div *ngFor="let logs of HourLogs">
      <div class="px-5 mt-3 text-center text-gray-800">
        <p class="bg-yellow-500 p-2" style="border-radius: 3px;">{{ logs.Hour | date:'EEEE d MMMM yyyy hh:mm a' }}</p>
      </div>

      <div class="grid grid-cols-6 gap-3 px-5">
        <div *ngFor="let session of logs.Sessions">
          <app-app-log-session [ActiveWindowTitle]="session.ACTIVE_WINDOW_TITLE" [Start_Time]="session.START_TIME"
            [End_Time]="session.END_TIME" [Key_Stroke_Level]="session.KEY_STROKE_LELVE"
            [Mouse_Click]="session.MOUSE_CLICK" [ACTIVITY_LEVEL]="session.ACTIVITY_LEVEL" [WindowsSwitched]="session.WINDOWS_SWITCHED"
            [Image_Name]="session.IMAGE_NAME"></app-app-log-session>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="!LogsFound">
    <div class="px-5 mt-3 text-center text-gray-800">
      <p class="bg-red-500 p-2" style="border-radius: 3px;">No Logs Found</p>
    </div>
  </div>

</section>
