<section class="w-5/6 mx-auto my-4">
  <p class="mb-1 text-lg font-normal">Providers</p>
  <hr class="mb-2">

  <div class="flex justify-center items-center my-3">
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" placeholder="Search providers..." class="px-3 py-3 border rounded-lg w-full">
  </div>

  <div class="grid sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-5 gap-3">

    <!-- Profile 1 -->
    <div class="flex my-3 justify-center items-center"
      *ngFor="let provider of filteredProviders">
      <div class="w-full">
        <div
          class="shadow bg-gray-100 hover:shadow-lg hover:scale-105 hover:bg-gray-700 hover:text-white transition duration-500 rounded-lg py-3">
          <div class="photo-wrapper p-2">
            <img class="w-32 h-32 rounded-full mx-auto" src="../../../../assets/images/noimage.jpg" alt="Profile Image">
          </div>
          <div class="p-2">
            <h3 class="text-center text-xl font-medium leading-8">{{provider.FULL_NAME}}</h3>
            <div class="text-center text-gray-400 text-xs font-semibold">
              <!-- <p>Web Developer</p> -->
            </div>
            <table class="text-xs my-3">
              <tbody>
                <!-- <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">Address</td>
                  <td class="px-2 py-2">Chatakpur-3, Dhangadhi Kailali</td>
                </tr> -->
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">Phone</td>
                  <td class="px-2 py-2">{{ provider.PRIMARY_PHONE }}</td>
                </tr>
                <tr>
                  <td class="px-2 py-2 text-gray-500 font-semibold">Email</td>
                  <td class="px-2 py-2">{{ provider.EMAIL }}</td>
                </tr>
              </tbody>
            </table>
            <div class="text-center my-3">
              <a (click)="viewProfile(provider.USER_ID)"
                class="text-xs italic text-blue-500 hover:text-white hover:underline font-medium">View Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>

</section>
