
<section [ngClass]="{'bg-transparent': !isScrolled, 'bg-white': isScrolled, 'border-b-2': isScrolled}"
        class="grid grid-cols-6 items-center fixed-top px-5 py-2">
  <div class="col-span-1">
    <img src="../../assets/images/logo.png" alt="logo" width="200">
  </div>
  <div class="text-lg col-span-4 mx-auto">
    <ol class="inline-flex gap-5 ">
      <li [ngClass]="{'active': activeSection === 'home'}"><a href="#home" [routerLinkActive]="'active'">Home</a></li>
      <li [ngClass]="{'active': activeSection === 'benefits'}"><a href="#benefits" [routerLinkActive]="'active'">Benefits</a></li>
      <li [ngClass]="{'active': activeSection === 'howitworks'}"><a href="#howitworks">How it works</a></li>
      <li [ngClass]="{'active': activeSection === 'download'}"><a href="#download">Download</a></li>
      <li [ngClass]="{'active': activeSection === 'contactus'}"><a href="#contactus">Contact Us</a></li>
    </ol>
  </div>
  <div class="col-span-1 w-full flex items-center justify-end">
    <p class="m-0"><button
        class="hover:bg-orange-500 text-blue-700 hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
        routerLink="login">
        Login
      </button></p>
    <p class="pl-3 m-0">
      <button
        class="hover:bg-orange-500 text-blue-700 font- hover:text-black py-2 px-4 border border-blue-500 hover:border-transparent rounded"
        routerLink="register">
        Sign up
      </button>
    </p>
  </div>
</section>
<!-- <div class="container-fluid">
  <div class="row py-3 px-4">
    <div class="col-lg-6 pt-2">
      <button mat-raised-button color="primary" routerLink="login" style="margin-right: 10px;">Login</button>
      <button mat-raised-button color="primary" routerLink="register">Register</button>
    </div>
  </div>
</div> -->
