<section class="min-h-screen flex flex-col justify-center mx-auto" id="home">
  <!-- Navbar -->
  <div class="p-3 px-5 flex">
    <app-header class="w-full"></app-header>
  </div>
  <!-- Landing Section -->
  <div class="my-auto grid grid-cols-2 gap-5">

    <div class="flex items-center justify-center">
      <div>
        <h1 style="font-size: 40px; font-weight: 500;">Track your time, achieve your goals</h1>
        <p>Service.net is the premier place for service providers to offer their services <br> and for buyers to get
          their
          projects done</p>
        <button type="button"
          class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-green-300 font-medium rounded-full text-sm px-4 py-2.5 text-center mr-2 mb-2">
          Download
        </button>

      </div>
    </div>
    <div>
      <img src="../../assets/images/—Pngtree—business office time management work_5749158.png" alt=""
        class="transform -scale-x-100" width="80%">
    </div>

  </div>
</section>


<!-- Benefits -->
<section class="px-4 mb-5 pt-5 w-3/4 mx-auto" id="benefits">
  <p class="text-3xl text-center my-2" style="font-weight: 600;">Benefits</p>

  <div class="grid grid-cols-4 gap-4 mt-5">

    <div class="flex items-center justify-center h-full">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-full">
        <a href="#" class="flex items-center justify-center pt-4">
          <img class="rounded-t-lg h-60 w-60" src="../../assets/svg/benefits/Time-management.svg" alt="" />
        </a>
        <div class="p-5 pt-4">
          <a href="#">
            <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">Time tracking</p>
          </a>
          <p class="mb-3 font-normal text-gray-700">Effortlessly track your time and stay on top of your tasks with Work
            Diary's intuitive time tracking capabilities.</p>

        </div>
      </div>
    </div>

    <div class="flex items-center justify-center h-full">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-full">
        <a href="#" class="flex items-center justify-center pt-4">
          <img class="rounded-t-lg h-60 w-60" src="../../assets/svg/benefits/Girl-busy-at-the-workplace.svg" alt="" />
        </a>
        <div class="p-5 pt-4">
          <a href="#">
            <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">Boost your Productivity</p>
          </a>
          <p class="mb-3 font-normal text-gray-700">Unleash your productivity potential and accomplish more with Work
            Diary's streamlined tracking and reporting tools.</p>

        </div>
      </div>
    </div>

    <div class="flex items-center justify-center h-full">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-full">
        <a href="#" class="flex items-center justify-center pt-4">
          <img class="rounded-t-lg h-60 w-60" src="../../assets/svg/benefits/undraw_time_management_re_tk5w.svg"
            alt="" />
        </a>
        <div class="p-5 pt-4">
          <a href="#">
            <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">Time Management</p>
          </a>
          <p class="mb-3 font-normal text-gray-700">Take control of your time and optimize your work schedule with Work
            Diary's time management features.</p>

        </div>
      </div>
    </div>

    <div class="flex items-center justify-center h-full">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-full">
        <a href="#" class="flex items-center justify-center pt-4">
          <img class="rounded-t-lg h-60 w-60" src="../../assets/svg/benefits/undraw_performance_overview_re_mqrq.svg"
            alt="" />
        </a>
        <div class="p-5 pt-4">
          <a href="#">
            <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">Show your Performance</p>
          </a>
          <p class="mb-3 font-normal text-gray-700">Maximize your potential and showcase your best work with Work
            Diary's performance tracking tools.</p>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- How It Works -->
<section class="px-4 pt-5 my-5 w-3/4 mx-auto" id="howitworks">
  <p class="text-3xl text-center my-2" style="font-weight: 600;">How it Works</p>

  <div class="grid grid-cols-2 gap-4 mt-5">
    <!-- Step 1 -->
    <div class="p-5">
      <center>
        <img src="../../assets/images/Sign up-amico.png" alt="" width="40%">

      </center>
    </div>
    <div class="flex justify-center items-center p-5">
      <div>
        <div class="flex justify-center items-center h-12 w-12 rounded-full bg-blue-200">
          <p class="text-blue-600 font-bold text-xl m-0">1</p>
        </div>
        <h2 class="my-2 text-lg font-semibold text-gray-900">Sign Up</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside ">
          <li>
            Go to the <a href="http://localhost:4200/register" class="text-blue-600 font-semibold">Sign Up</a>
          </li>
          <li>
            Enter the required details and register
          </li>
        </ul>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="flex justify-center items-center p-5">
      <div>
        <div class="flex justify-center items-center h-12 w-12 rounded-full bg-blue-200">
          <p class="text-blue-600 font-bold text-xl m-0">2</p>
        </div>
        <h2 class="my-2 text-lg font-semibold text-gray-900">Download Work Diary App</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside ">
          <li>
            Click on the <a href="http://localhost:4200/register" class="text-blue-600 font-semibold">Work Diary</a> to
            dowload
          </li>
          <li>
            Make sure that you have the Java JDK. If not it will redirect you to the download page of JDK
          </li>
        </ul>
      </div>
    </div>
    <div class="p-5">
      <center>
        <img src="../../assets/svg/download.svg" alt="" width="40%">

      </center>
    </div>

    <!-- Step 3 -->
    <div class="p-5">
      <center>
        <img src="../../assets/images/wd_dashboard.PNG" alt="" width="40%">

      </center>
    </div>
    <div class="flex justify-center items-center p-5">
      <div>
        <div class="flex justify-center items-center h-12 w-12 rounded-full bg-blue-200">
          <p class="text-blue-600 font-bold text-xl m-0">3</p>
        </div>
        <h2 class="my-2 text-lg font-semibold text-gray-900">Start using Work Diary</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside ">
          <li>
            Open work diary in windows using an Administror access
          </li>
          <li>
            select your project and start using to store logs
          </li>
        </ul>
      </div>
    </div>

    <!-- Step 4 -->
    <div class="flex justify-center items-center p-5">
      <div>
        <div class="flex justify-center items-center h-12 w-12 rounded-full bg-blue-200">
          <p class="text-blue-600 font-bold text-xl m-0">4</p>
        </div>
        <h2 class="my-2 text-lg font-semibold text-gray-900">Maintain Your Logs</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside ">
          <li>
            Go to the <a href="http://localhost:4200/login" class="text-blue-600 font-semibold">Login</a> page
          </li>
          <li>
            This portal will help both the manager and the provider to check the logs and maintain the projects
          </li>
        </ul>
      </div>
    </div>
    <div class="p-5">
      <center>
        <img src="../../assets/svg/Sentiment analysis-amico.svg" alt="" width="50%">

      </center>
    </div>

  </div>
</section>


<!-- Download -->
<section class="px-4 py-5 my-5 bg-gray-200" id="download">

  <div class="grid grid-cols-3 gap-4 w-3/4 mx-auto">
    <div class="col-span-2 flex items-center">
      <div>
        <p class="text-2xl my-2 font-semibold">Download Work Diary</p>
        <p class="">Get started with our powerful time tracking and productivity tool today.</p>
        <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full">
          Download for Windows
        </a>
      </div>
    </div>
    <div>
      <img src="../../assets/images/wd_dashboard.PNG" alt="" width="50%">
    </div>
  </div>

</section>


<!-- Contact Us -->
<section class="px-4 pt-5 my-5 mx-auto" id="contactus">
  <p class="text-3xl text-center my-2" style="font-weight: 600;">Contact Us</p>

  <div class="grid grid-cols-1 md:grid-cols-7 lg:grid-cols-7 gap-4 mt-5">
<br>
<div class="md:col-start-2 lg:col-start-2 md:col-span-3 lg:col-span-3 mx-4 md:mx-0 lg:mx-0" data-aos="fade-right"
  data-aos-easing="linear" data-aos-duration="1500">
  <h4 class="font-bold text-xl mb-2">Send us a Message</h4>
  <hr class="h-1 bg-orange-100 border-0 rounded dark:bg-orange-500">
  <div class="mt-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
      <div class="w-full">
        <label for="First Name">First Name</label>
        <br>
        <Input type="text" class="p-2 rounded border-2 w-full"/>
      </div>
      <div class="w-full">
        <label for="First Name">Last Name</label>
        <br>
        <Input type="text" class="p-2 rounded border-2 w-full"/>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mt-5">
      <div class="w-full">
        <label for="First Name">Your Email</label>
        <br>
        <Input type="text" class="p-2 rounded border-2 w-full"/>
      </div>
      <div class="w-full">
        <label for="First Name">Phone Number</label>
        <br>
        <Input type="text" class="p-2 rounded border-2 w-full"/>
      </div>
    </div>
    <div class="mt-5">
      <label for="">Your Message</label>
      <br>
      <textarea name="" id="" cols="30" rows="3" class="rounded w-full p-3 border-2"></textarea>
    </div>
    <div class="mt-5">
      <button
        class="w-full p-2 border-2 rounded bg-green-600 text-white hover:bg-green-700 hover:text-white">Submit</button>
    </div>
  </div>
</div>
<div class="col-span-2">
  <div class="p-3 text-center" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <center>
      <img src="../../assets/images/enterprise.png" alt="" width="50">
    </center>
    <p class="text-sm mt-3 font-bold">Welltime Ltd</p>
    <p class="text-sm"></p>
  </div>

  <div class="p-3 text-center mt-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <center>
      <img src="../../assets/images/location-pin.png" alt="" width="50">
    </center>
    <p class="text-sm mt-3">52 Gordon Drive</p>
    <p class="text-sm">Glasgow, G44 3TN</p>
  </div>

  <div class="p-3 text-center mt-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <center>
      <img src="../../assets/images/phone-call.png" alt="" width="50">
    </center>
    <p class="text-sm mt-3">Call us to speak to a member of our team. <br> We are always happy
      to help.</p>
    <p class="text-sm"><b>Call:</b> 0207 096 1440</p>
  </div>
</div>
  </div>

</section>


<app-footer></app-footer>
