<div class="fixed">
  <p class="pl-4 pt-2">
    <img src="../../../assets/images/logo.png" alt="" width="35%">
  </p>
</div>

<div class="flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-xl shadow shadow-slate-300 w-2/6">
    <h1 class="text-4xl font-medium">Forgot password</h1>
    <p class="text-slate-500">Select your security question and answer that question</p>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="ForgotPass(forgotPasswordForm)">
      <div class="flex flex-col space-y-5">

        <label for="Error" *ngIf="FogotError !== ''">
          <p class="alert alert-danger m-0">
            {{ FogotError }}
          </p>
        </label>

        <label for="Username">
          <input id="username" name="username" ngModel type="text"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Username">
        </label>

        <label for="securityQuestions">
          <select name="securityQuestion" ngModel
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
            <option value="">Select a security question</option>
            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
            <option value="What is the name of your first pet?">What is the name of your first pet?</option>
            <option value="In what city were you born?">In what city were you born?</option>
            <option value="What is your favorite movie or book?">What is your favorite movie or book?</option>
            <option value="What was the name of your first school?">What was the name of your first school?</option>
          </select>
        </label>

        <label for="SecurityAnswers">
          <input id="securityAnswer" name="securityAnswer" ngModel type="text"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Security Answer">
        </label>

        <button type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white p-3 rounded w-full inline-flex space-x-2 items-center justify-center">
          <span>Reset password</span>
        </button>
        <p class="text-center">Not registered yet? <a [routerLink]="['/register']"
            class="text-blue-700 inline-flex space-x-1 items-center"><span>Register now</span></a></p>
      </div>
    </form>
  </div>
</div>
