<div class="fixed">
  <p class="pl-4 pt-2">
    <img src="../../../assets/images/logo.png" alt="" width="35%">
  </p>
</div>

<div class="flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-xl shadow shadow-slate-300 w-2/6">
    <h1 class="text-4xl font-medium">Forgot password</h1>
    <p class="text-slate-500">Select your security question and answer that question</p>

    <form action="" class="">
      <div class="flex flex-col space-y-5">
        <label for="email">
              <select class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow">
                <option value="1">Security Question 1</option>
                <option value="2">Security Question 2</option>
                <option value="3">Security Question 3</option>
                <option value="3">Security Question 3</option>
                <option value="3">Security Question 3</option>
                <option value="3">Security Question 3</option>
                <option value="3">Security Question 3</option>
                <option value="3">Security Question 3</option>
                <option value="3">Security Question 3</option>
              </select>
        </label>

        <label for="email">
          <input id="email" name="email" type="text"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Security Answer">
        </label>

        <button
          class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
          </svg>

          <span>Reset password</span>
        </button>
        <p class="text-center">Not registered yet? <a href="#"
            class="text-indigo-600 font-medium inline-flex space-x-1 items-center"><span>Register now</span></a></p>
      </div>
    </form>
  </div>
</div>
