<div class="bg-white p-8">
  <div class="">
    <div>
      <h1 class="text-base font-semibold leading-7 text-gray-900">Security Question</h1>
      <p class="text-sm text-gray-600">Update your security question to reset your password whenever you
        forgot</p>

      <form action="">
        <div class="flex flex-col space-y-5 w-2/4">

          <select class="form-select" ngModel id="job" name="job">
            <option value="">Select a security question</option>
            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
            <option value="What is the name of your first pet?">What is the name of your first pet?</option>
            <option value="In what city were you born?">In what city were you born?</option>
            <option value="What is your favorite movie or book?">What is your favorite movie or book?</option>
            <option value="What was the name of your first school?">What was the name of your first school?</option>
          </select>

          <div>
            <input type="text" ngModel name="SecAnswer" placeholder="Security Answer" class="form-control text-sm" />
          </div>

          <div>
            <button type="submit"
              class="w-full bg-blue-500 text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
              Update
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
